.paginacao {
    width: 100%;
    height: 38px;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.paginacao button{
    height: 100%;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(13, 177, 177);
    color: white;
    font-size: 11pt;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.paginacao button:hover {
    background-color: rgba(13, 177, 177, .8);
}

.paginacao button.prev{
    background-color: rgba(13, 177, 177, .7);
    cursor: default;
}

.paginacao button.next{
    background-color: rgba(13, 177, 177, .7);
}